.carousel {
  .carousel_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .carousel-left {
      margin-bottom: 4rem;
      span {
        @include text($text-xl, $text-semibold, $text-c1-primary);
      }
      h1 {
        @include text(90px, $text-regular, $text-black);
      }
      .btn-carousel {
        @include button(
          $text-xm,
          $text-semibold,
          $text-white,
          $bg-c1-primary,
          12px 30px,
          $border,
          50px
        );
        text-transform: uppercase;
        outline: none;
        margin-top: 1rem;
        z-index: 2;
        position: absolute;
        &:hover {
          color: $text-c1-primary;
          background-color: $bg-white;
          border: $border;
          transition: all 0.5s;
        }
      }
    }
    .carousel-right {
      z-index: 1;
      .img-girl {
        width: 130%;
        margin-left: -25%;
        position: relative;
        top: -3rem;
      }
      .carousel-img {
        .img-hello {
          top: 5rem;
          right: 15rem;
          position: absolute;
        }
        .img-ciao {
          top: 19rem;
          right: 7rem;
          position: absolute;
        }
        .img-bonjour {
          top: 36.5rem;
          right: 8.5rem;
          position: absolute;
        }
        .img-guten {
          top: 36rem;
          right: 42rem;
          position: absolute;
        }
      }
    }
  }
}
