.courses {
  background: url(../../../img/white_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $bg-c1-secondary;
  .courses-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .courses-left {
      .courses-h6 {
        @include text($text-base, $text-semibold, $text-c1-primary);
      }
      .courses-title {
        @include text($text-5xl, $text-bold, $text-black);
        width: 75%;
      }
      .courses-text {
        @include text($text-base, $text-regular, $text-black);
        width: 75%;
      }
      .courses-button {
        .btn-courses {
          @include button(
            $text-xm,
            $text-semibold,
            $text-c1-primary,
            $bg-transparent,
            12px 30px,
            $border,
            50px
          );
          text-transform: uppercase;
          outline: none;
          margin-right: 1rem;
          &:hover {
            color: $text-white;
            background-color: $bg-c1-primary;
            border: $border;
            transition: all 0.5s;
          }
        }
        .btn-courses2 {
          @include button(
            $text-xm,
            $text-semibold,
            $text-white,
            $bg-c1-primary,
            12px 30px,
            $border,
            50px
          );
          text-transform: uppercase;
          outline: none;
          margin-right: 1rem;
          &:hover {
            color: $text-c1-primary;
            background-color: $bg-transparent;
            border: $border;
            transition: all 0.5s;
          }
          i {
            padding-right: 0.5rem;
          }
        }
      }
    }
    .courses-right {
      .courses-img {
        width: 37rem;
      }
    }
  }
}

.seo {
  background-color: $bg-c1-secondary;
  position: relative;
  padding: 3rem 0;
  .seo-list {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 5rem;

    .seo-left {
    }
    .seo-right {
      p {
        @include text($text-base, $text-semibold, $text-c1-primary);
      }
      h1 {
        @include text($text-5xl, $text-semibold, $text-black);
      }
      .seo-text {
        @include text($text-base, $text-regular, $text-black);
      }
      .seo-card-list {
        width: 33rem;
        margin: 2rem 0;

        .seo-card-item {
          background-color: $bg-c1-secondary;
          border: none;
          border-bottom: 1px solid rgb(0 0 0 / 20%);
          .seo-card-header {
            background-color: $bg-c1-secondary;
            padding-left: 0;
            .seo-card-btn {
              padding-left: 0;
              position: relative;
              @include text($text-base, $text-semibold, $text-c1-primary);
              text-decoration: none;
              i {
                font-size: $text-2xl;
                color: $text-black;
                margin-right: 1rem;
              }
              .seo-card-icon {
                position: absolute;
                top: 8px;
                right: -30px;
              }
            }
          }
          .seo-card-bot {
            .seo-card-body {
              background-color: $bg-c1-secondary;
            }
          }
        }
      }
      .btn-seo {
        transition: all 0.5s;
        outline: none;
        text-transform: uppercase;
        @include button(
          $text-xm,
          $text-semibold,
          $text-white,
          $bg-c1-primary,
          15px 30px,
          $border,
          50px
        );
        &:hover {
          color: $text-c1-primary;
          background-color: $bg-transparent;
          border: $border;
        }
      }
    }
  }
  .seo-img {
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
    }
  }
}
