header {
  background: url(../../../img/yellow_top_wave_01.png);
  background-position: left top;
  background-size: contain;
  height: 240px;
  background-repeat: no-repeat;
  .header {
    display: flex;
    gap: 3rem;
    align-items: center;
    position: fixed;
    z-index: 10;
    margin-left: 8rem;
    a {
      .header-img {
        width: 80%;
      }
    }
    .header-nav {
      padding-left: 15rem;
      padding-top: 16px;
      ul {
        display: flex;
        list-style: none;
        gap: 40px;
        a {
          text-decoration: none;
          @include text($text-xm, $text-semibold, $text-black);
          &:hover {
            color: $text-c1-primary;
          }
        }
      }
    }
    .header-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: absolute;
      right: -1rem;
      .btn-header {
        transition: all 0.5s;
        outline: none;
        @include button(
          $text-xm,
          $text-semibold,
          $text-white,
          $bg-c1-primary,
          10px 15px,
          $border,
          50px
        );
        &:hover {
          color: $text-c1-primary;
          background-color: $bg-transparent;
          border: $border;
        }
      }

      .fa-twitter {
        color: #1d9bf0;
        margin: 0 0.5rem;
      }
      .fa-facebook {
        color: #4867aa;
        margin: 0 0.5rem;
      }
      .fa-youtube-play {
        color: #ed352d;
        margin: 0 0.5rem;
      }
      .fa-instagram {
        color: #bd3187;
        margin: 0 0.5rem;
      }
    }
  }
}
